<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
</head>
<body>
    {% if request.method == 'GET' %}
    <form action="/register" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Select a unique username"><br>
        <input type="password" name="password1" placeholder="Enter Password"><br>
        <input type="password" name="password2" placeholder="Confirm Password"><br>
        <button type="submit">Submit</button>
    </form>
    {% else %}
        <h2>{{ message }}</h2>
    {% endif %}
</body>
</html>